.favoritesPage {
    width: 100%;
    min-height: 600px;
    background-color: #2a313f;

}
.text {
    display: flex;
    justify-content: center;
}

.homeButton{
    height: 40px;
    font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    border: solid #FF8800;
    background-color: #4b494700;
    font-weight: bold;
}
.homeButton:hover{
    background-color: #FF8800;
    color: #ffffff;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 1em;
}

.pagination {
    padding-top: 30px;
    display: flex;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

.pagination span {
    font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: bold;
}

.btnPagination {
    height: 40px;
    font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    border: solid #FF8800;
    background-color: #4b494700;
    font-weight: bold;
    

}

.btnPagination:hover {
    background-color: #FF8800;
    color: #ffffff;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    animation: slideIn 0.3s ease-out;
    z-index: 1000;

    &.removed {
        background: #f44336;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.emptyState {
    text-align: center;
    padding: 40px 20px;
    width: 100%;
    
    h2 {
      color: #FF8800;
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    p {
      color:#FF8800;
      font-size: 16px;
    }
  }

@media (max-width:1828px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:1160px) {
    .cardGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:348px) {}