.characterDetail {
    background-color: #2a313f;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

.homeButton {
  height: 40px;
    font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    border: solid #FF8800;
    background-color: #4b494700;
    font-weight: bold;
}

.homeButton:hover {
  background-color: #FF8800;
  color: #ffffff;
}

.details {
  margin: auto;
  max-width: 600px; 
  padding: 20px;
}

.imageContainer {
display: flex;
justify-content: center;
}

.characterImage {
    border-radius: 15px;
    height: 500px;
}



  .episodeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 800px;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .episodeCard {
    background: #333;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #61dafb;
  }
  
  .episodeCard h3 {
    margin: 0;
    color: #61dafb;
  }
  
  .episodeCard p {
    margin: 5px 0;
    font-size: 14px;
  }


  .favoriteBtn {
    height: 40px;
    font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    border: solid #FF8800;
    background-color: #4b494700;
    font-weight: bold;
    

}

.favoriteBtn:hover {
    background-color: #FF8800;
    color: #ffffff;
}

@media (max-width:651px) {
  .characterImage {
    height: 200px;
}
}